body{
    margin: 0;
    background-color: white;
    font-family: "Raleway", sans-serif;
}

#diverror{
    background-color: rgb(255, 143, 143);
    border: 1px solid rgb(253, 104, 104);
    display: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    height: 30px;
}

#diverror2{
    background-color: rgb(255, 143, 143);
    border: 1px solid rgb(253, 104, 104);
    display: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    height: 30px;
}

#divok{
    background-color: rgb(175, 255, 159);
    border: 1px solid rgb(80, 214, 80);
    display: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    height: 30px;
}

header{
    border-bottom: 1px solid #a5a5a5;
}

nav{
    padding-left: 50px;
    padding-right: 50px;
    height: 65px;
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    align-items: center;
}

ul{
    display: flex;
    list-style: none;
}

ul li{
    margin-left: 20px;
}

ul li a{
    color: white;
}

#marca{
    font-size: 40px;
    font-family: "Raleway", sans-serif;
    color: #060b68;
}

.botonnav{
    padding: 10px 20px;
    font-size: 15px;
    background-color: #37b5fd;
    border: 1px solid #37b5fd;
    border-radius: 10px;
    transition: 0.25s;
    color: white;
}

.nolink{
    text-decoration: none;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
}

.botonnav:hover{
    background-color: #30a3e6;
    border-color: #30a3e6;
}

.nolink:hover{
    
}

.radius{
    border-radius: 10px;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: white;
}

.recuadro{
    background-color: white;
    border-radius: 20px;
    width: 350px;
}

#indexizquierda{
    width: 50%;
    text-align: center;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d6f2ff;
}

#indexizquierda img{
    height: 400px;
}

.ligth{
    font-weight: 500;
}

.tcenter{
    text-align: center;
}

.inputs{
    
}

.inputs input{
    display: inline-block;
    font-size: 15px;
    text-indent: 20px;
    border: 1q solid #a5a5a5;
    margin-bottom: 20px;
    width: 98%;
    height: 50px;
    margin-top: 10px;

    &:focus{
        outline: none;
    }
}

.inputs button{
    font-family: "Raleway", sans-serif;
    width: 100%;
    font-size: 15px;
    padding: 12px;
}

.inputs input::placeholder{
    font-family: "Raleway", sans-serif;
}

.inputs label{
    font-weight: bold;
    margin-top: 20px;
}

.botonaction{
    background-color: #37b5fd;
    border-color: #37b5fd;
    border: 0px;
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: bold;
    transition: 0.25s;
    color: white;
}

.botonaction:hover{
    background-color: #30a3e6;
    cursor: pointer;
}

#mainpage{
    display: flex;
    width: 100%;
}

#search{
    width: 400px;
    height: 40px;
    border: 1px solid rgb(63, 63, 63);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

#botonsearch{
    background: none;
    border: none;
}

#botonsearch img{
    height: 20px;
    padding-right: 8px;
    cursor: pointer;
}

.camposearch{
    width: 80%;
    margin-left: 10px;
    border: none;
    background: none;
    font-size: 20px;
}

.camposearch:focus{
    border: none;
    outline: none;
}

button{
    cursor: pointer;
}

.quicksand{
    font-family: "Quicksand", sans-serif;
}

#nombre{
    font-weight: 300;
    font-size: 100px;
    text-align: center;
}

.titulo{
    font-size: 50px;
    font-weight: 300;
}

/* styles.css */
.fade {
    opacity: 0; /* Inicialmente invisible */
    animation: fadeIn 0.5s ease-in forwards; /* Animación */
}

/* Definición de la animación */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#information{
    margin: 50px;
}

.inputsprofile{
    display: flex;
    justify-content: space-around;
}

.inputsprofile input::placeholder{
    font-family: "Raleway", sans-serif;
}

.inputsprofile input{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    text-indent: 18px;
    border: 1q solid #a5a5a5;
    margin-bottom: 20px;
    width: 30%;
    height: 50px;
    margin-top: 10px;

    &:focus{
        outline: none;
    }
}

.taskrecuadro{
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.tasks{
    display: flex;
    flex-direction: column;
    width: 550px;
    border: 1px solid red;
    text-align: center;
}

.tasks input{
    font-size: 15px;
    text-indent: 20px;
    border: 1q solid #a5a5a5;
    margin-bottom: 20px;
    height: 50px;
    margin-top: 10px;

    &:focus{
        outline: none;
    }
}

.tasks button{
    font-family: "Raleway", sans-serif;
    width: 100%;
    font-size: 15px;
    padding: 12px;
}

.tasks input::placeholder{
    font-family: "Raleway", sans-serif;
}

.tasks label{
    font-weight: bold;
    margin-top: 20px;
}