body{
    margin: 0;
    background-color: white;
    font-family: "Raleway", sans-serif;
}

#diverror{
    background-color: rgb(255, 143, 143);
    border: 1px solid rgb(253, 104, 104);
    display: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    height: 30px;
}

#diverror2{
    background-color: rgb(255, 143, 143);
    border: 1px solid rgb(253, 104, 104);
    display: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    height: 30px;
}

#divok{
    background-color: rgb(175, 255, 159);
    border: 1px solid rgb(80, 214, 80);
    display: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    height: 30px;
}

header{
    border-bottom: 1px solid rgb(165, 165, 165);
}

nav{
    padding-left: 50px;
    padding-right: 50px;
    height: 65px;
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    align-items: center;
}

ul{
    display: flex;
    list-style: none;
}

ul li{
    margin-left: 20px;
}

#marca{
    font-size: 40px;
    font-family: "Raleway", sans-serif;
    color: #060b68;
}

.botonnav{
    padding: 10px 20px;
    font-size: 15px;
    background-color: #a7e3ff;
    border: 1px solid #a7e3ff;
    border-radius: 10px;
    transition: 0.25s;
}

.nolink{
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-family: "Raleway", sans-serif;
}

.botonnav:hover{
    background-color: #37b5fd;
}

.nolink:hover{
    
}

.radius{
    border-radius: 10px;
}

.contenedor{
    display: flex;
    justify-content: center;
    padding: 30px 0;
    width: 50%;
    background-color: #d6f2ff;
}

.recuadro{
    background-color: white;
    border: 1px solid #37b5fd;
    border-radius: 20px;
    width: 350px;
    padding: 30px 50px;
}

.tcenter{
    text-align: center;
}

.inputs{
    text-align: center;
}

.inputs *{
    display: inline-block;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
}

.botonaction{
    background-color: bisque;
    border: 2px solid burlywood;
    border-radius: 20px;
    padding: 10px 15px;
}

.botonaction:hover{
    background-color: rgb(255, 213, 161);
    cursor: pointer;
}

#mainpage{
    display: flex;
    width: 100%;
}

#indexizquierda{
    width: 50%;
    text-align: center;
    
}

#indexizquierda img{
    height: 400px;
}

#search{
    width: 400px;
    height: 40px;
    border: 1px solid rgb(63, 63, 63);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

#botonsearch{
    background: none;
    border: none;
}

#botonsearch img{
    height: 20px;
    padding-right: 8px;
    cursor: pointer;
}

.camposearch{
    width: 80%;
    margin-left: 10px;
    border: none;
    background: none;
    font-size: 20px;
}

.camposearch:focus{
    border: none;
    outline: none;
}

button{
    cursor: pointer;
}

.quicksand{
    font-family: "Quicksand", sans-serif;
}

#nombre{
    font-weight: 300;
    font-size: 100px;
    text-align: center;
}

.titulo{
    font-size: 50px;
    font-weight: 300;
}

/* styles.css */
.fade {
    opacity: 0; /* Inicialmente invisible */
    animation: fadeIn 0.5s ease-in forwards; /* Animación */
}

/* Definición de la animación */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#information{
    margin: 50px;
}